/*Responsive*/
/*PC>=1024px
Tablet:>=740px && <1204px
mobile:<740px*/

/*PC>=1024px*/
@media (min-width:1024px){
    
}
/*Tablet*/
@media (min-width:740px) and (max-width:1023px){

}
/*Mobile*/
@media (max-width:739px){
    #header{
        overflow: hidden;/*Ẩn menu con trên giao diện mobile*/
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        display: inline-block;
    }
    #nav{
        display: block;
    }
    #nav > li {
        display: block;
    }
    /*lấy li con đầu tiên của nav*/
    #nav >li:first-child{
        display: inline-block;
    }
    #nav li .subnav{
        position: initial;/*Reset về giá trị mặc định*/
        background-color: #333;
    }
    #nav li .subnav a{
        color: white;
        padding: 5px 42px;
    }
    #content .member-item{
        width: 100%;
    }
    #content .member-avatar{
        width: 60%;
    }
    #slider .text-description{
        margin-top: 12px;
    }
    #slider .text-content{
        opacity: 0.7;
    }
    .place-item{
        width: 100%;
    }
    #slider .text-content{
        bottom: 40px;
    }
    .contact-info{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        margin-top: 16px;
    }
    .formcontrol{
        padding: 16px;
        margin-bottom: 8px;
    }
    .form-submit-btn{
        margin-bottom: 100px;
        width: 100%;
        padding: 16px;
    }
    .place-buy-btn{
        width: 100%;
    }
}