*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*Cho kích thước đúng với ban đầu*/
}
.clear{
    clear: both;/*Khắc phục tình trạng float làm thẻ cha thu nhỏ lại không ôm những thẻ con*/
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;/*Hiệu ứng chuyển đông giữa cái menu*/
}
#left{
    width: 22%;
    height: 100%;
    float: left;
    background-color: white;
    line-height: 1.5;
    display: inline;
    position: fixed;
}
.logo{
    width: 100%;
    height: 150px;
    text-align: center;
}
.logo img{
    width: 80%;
    height: 80%;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar_header{
    width: 100%;
    height: 77.6px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.sidebar_header a{
   display: inline-block;
   min-width: 40px; 
   box-shadow: none;
   font-size: 1.5rem;
   border: none;
   vertical-align: top;
   height: 100%;
   line-height: 78px;
   text-decoration: none;
   color: inherit;
   opacity: 0.6;
}
.sidebar_header a:hover{
    opacity: 1;
    color: lightseagreen;
    font-size: 1.7rem;
}
.sidebar_menu .nav{
  display: block;
}
.nav .menu_item{
    text-align: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(241, 241, 241);
}
.nav .menu_item:hover a{
    color: rgb(19, 0, 185);
    
}
.nav .menu_item:hover{
    background-color: rgb(207, 204, 204);
    text-transform: uppercase;
}
.nav .menu_item a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 15px 70px;
}
#header{
    width: 78%;
    height: 2000px;
    background-color: white;
    display: block;
    float: right;
}
.sidebar_footer{
    width: 100%;
    margin: 8px 0px;
}
.hotline{
    width: 60%;
    line-height: 50px;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 6px;
}
.hotline a{
    color: white;
    text-decoration: none;
}
.hotline a:hover{
    color: slateblue;
}
.cuoi{
    line-height: 100px;
    text-align: center;
}
.cuoi a{
    padding: 8px;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 18px;
}
.cuoi a:hover{
    opacity: 1;
    color: black;
    font-size: 20px;
}
.baner img{
    width: 100%;
}
/*=========================================================*/
.hai_banner{
    margin-top: 36px;
}
.banner1{
    float: left;
    width: 48.5%;
}
.banner1 img{
    width: 100%;
}

.banner2{
    float: right;
    width: 48.5%;
}
.banner2 img{
    width: 100%;
}
.day3_banner{
    margin-top: 28px;
}
.day3_banner img:hover{
    opacity: 0.8;
    width: 101%;
    cursor: pointer;
}
.day3_banner_trai{
    float: left;
    width: 49%;
}
.day3_banner_trai img{
    width: 100%;
    border: 8px 0px solid white;
}
.day3_banner_phai{
    float: right;
    width: 49%;
}
.day3_banner_phai img{
    width: 100%;
    border: 8px solid white;
}
.day3_banner_phai1{
    width: 50%;
    display: inline-block;
}
.day3_banner_phai2{
    width: 50%;
    float: right;
}
.tren_trai{
    top: 0px;
    left: 0px;
    width: 100%;
}
.duoi_trai{
    bottom: 0px;
    width: 100%;
    left: 0px;
}
/*=====================*/
.content{
    background-color: silver;
    width: 100%;
    min-height: 1000px;
}
/*===================Video========================*/
.sau_content{
    background-color: snow;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.sau_content iframe{
    width: 90%;
    height: 585px;
}
/*******************Contact-Footer**********************/
.contact_footer{
    min-height: 230px;
    background-color: black;
    color: white;
}
.noidung{
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin: 0px 16px;
}
.lienhe{
    border-top: 1px solid white;
    margin: 8px 16px;
    font-size: 16px;
    line-height: 1.6;
}
.lienhe img{
    width: 150px;
    margin-left: 16px;
}

